@charset "UTF-8";
:root {
  /* Фон */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* Колір тексту*/
  --main-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --grey-txt-color: #757575;
  /* Інші */
  --items: 3;
  --indent: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font), sans-serif;
  color: #e5e5e5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Робота по класах*/
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.card-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-icon {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.contact:hover,
.contact:focus {
  color: var(--accent-txt-color);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 450ms ease-in, visibility 450ms ease-in;
  transition: opacity 450ms ease-in, visibility 450ms ease-in;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-txt-color);
}

/* Оформлення модального вікна */
.paragrapf-modal {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px 20px 40px;
}

.label-modal-form {
  position: relative;
  margin-bottom: 10px;
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-modal {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.input-modal:hover, .input-modal:focus {
  border-color: var(--accent-txt-color);
}

.icon-form {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: inline-block;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.input-modal:hover + .icon-form, .input-modal:focus + .icon-form {
  fill: var(--accent-txt-color);
}

.textarea-modal {
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  outline: transparent;
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  left: 576px;
  top: 519px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.textarea-modal:hover, .textarea-modal:focus {
  border-color: var(--accent-txt-color);
}
@media screen and (min-width: 1200px) {
  .textarea-modal {
    width: 448px;
    height: 120px;
  }
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .form-checkbox {
    width: 423px;
    height: 24px;
  }
}

.custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  -webkit-transition: border-color var(--anim), background-color var(--anim);
  transition: border-color var(--anim), background-color var(--anim);
}
.checkbox-input:checked + .custom-checkbox {
  background-color: var(--accent-txt-color);
  border-color: var(--accent-txt-color);
}

.checkbox-icon {
  fill: #ffffff;
}

.checkbox-agreement {
  padding-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .checkbox-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.link-agreement {
  padding-left: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-txt-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .link-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-modal-form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-burger {
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transition: var(--anim);
  transition: var(--anim);
  z-index: 1;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__nav-list {
  margin-bottom: auto;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__nav-group:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-list {
  margin-bottom: 64px;
}

.mobile-menu__contacts-group:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__social-group:not(:last-child) .mobile-menu__social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* Секція хедер */
.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.header-contact__group {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo span {
  color: var(--accent-txt-color);
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-color);
}

.nav__link--marker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-txt-color);
}
@media screen and (min-width: 768px) {
  .nav__link--marker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: var(--accent-txt-color);
    border-radius: 2px;
  }
}

.header-contact {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contact__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
}
@media screen and (min-width: 1200px) {
  .header-contact__mail {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact {
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.contact:hover .header-contact__svg, .contact:focus .header-contact__svg {
  fill: #2196f3;
}

.header-contact__number {
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
}
@media screen and (min-width: 1200px) {
  .header-contact__number {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contact__svg {
  margin-right: 10px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .svg-envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .svg-smartphone {
    width: 10px;
    height: 14px;
  }
}

/* Секція шапка */
.hat {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hat {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_des.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_des.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-images/hat_des@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/hat_des@2x.jpg);
  }
}

.main__div {
  background-color: #2f303a;
}

.hat__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hat__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hat__btn {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-txt-color);
  padding: 10px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-txt-color);
  -webkit-transition: color var(--anim), background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
}
.hat__btn:hover, .hat__btn:focus {
  background-color: #1076c7;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hat__btn {
    padding: 10px 32px;
  }
}

/* Секція особливості */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .features__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    --items: 4;
  }
}

.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
@media screen and (min-width: 768px) {
  .features__title {
    display: block;
  }
}

.features__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Секція роботи */
.work {
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__section {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.work__item {
  position: relative;
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

.work__img {
  display: block;
}

.work__card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 100%;
  height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin: 0;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

/* Секція команда */
.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__section {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}
@media screen and (min-width: 1200px) {
  .team__section {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items: 4;
  }
}

.team__icon {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-icons__svg:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill var(--anim), background-color var(--anim);
  transition: fill var(--anim), background-color var(--anim);
}
.social-icons__link:hover, .social-icons__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* Секція клієнти */
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__section {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__section {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.customers__card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --items: 2;
}
@media screen and (min-width: 768px) {
  .customers__card {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .customers__card {
    --items: 6;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: fill var(--anim), border-color var(--anim);
  transition: fill var(--anim), border-color var(--anim);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
    height: 92px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-txt-color);
  fill: var(--accent-txt-color);
}

/* Секція футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__info {
    margin-left: 76px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__logo {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.footer__logo span {
  color: var(--accent-txt-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-style: normal;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__contact:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__contact:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__social-icons {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
  }
}

.footer__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__join {
    margin-top: 0;
  }
}

.footer__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__list-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.footer__link-icons {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.footer__link-icons:hover, .footer__link-icons:focus {
  background-color: var(--accent-txt-color);
}

@media screen and (min-width: 1200px) {
  .footer__email {
    margin-left: 93px;
  }
}

.footer__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__paragraph {
    display: block;
    margin-top: 0;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  left: 15px;
  top: 5277px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
.footer__input:focus {
  border-color: var(--accent-txt-color);
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
    height: 50px;
    left: 815px;
    top: 2784px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2784px;
  }
}

.footer__button {
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2784px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-txt-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-txt-color);
  padding: 10px 62px 10px 28px;
  -webkit-transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
}
.footer__button:hover, .footer__button:focus {
  background-color: #1076c7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}

.footer__svg {
  position: absolute;
  fill: #ffffff;
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__svg {
    margin-left: 10px;
  }
}

/* Портфоліо */
/* Фільтр робіт */
.section-work {
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .button {
    width: 326px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .button {
    width: 768px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 1170px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.button__btn {
  width: auto;
  height: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  cursor: pointer;
  padding: 5px 21px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim), color var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), border-radius var(--anim), border var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), border-radius var(--anim), border var(--anim), -webkit-box-shadow var(--anim);
}
.button__btn:hover, .button__btn:focus {
  background-color: var(--accent-txt-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* Секція проекти */
.project {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.project__images {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .project__images {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .project__images {
    --items: 3;
  }
}

.project__images:hover .project__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__card {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.project__card:hover, .project__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__portfolio {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.project__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-color);
}

.project__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}/*# sourceMappingURL=main.css.map */