







/* Індекс html */








/* Сітка Flex */


























/* .list-customers:hover,
.list-customers:focus {
  border-color: var(--accent-txt-color);
} */

/* .list-customers {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
} */












